@import url('~@/styles/reset.scss');

.app {
    padding: 8px 12px;
    width: 480px;
    min-height: 240px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .title {
        text-align: center;
    }
}

.tab-title {
    font-weight: 600;
}

.extra-btn {
    margin-left: 5px;
}
